*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
}
body{
    background-color: #B1D9DB;
}
.desc{
    width:30%;
    margin-top: 150px;
    color: white;
    font-size: 30px;
    padding-left:100px;
}
.image-logo{
    position: absolute;
    top :200px;
    width:500px;
    left:150px;
    z-index: 5;
}
.mainarea{
    position: absolute;
    width:65%;
    padding:50px 150px;
    text-align: center;
    background-color:white;
    height: 100vh;
    top :0px;
    right:0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

h1{
    text-align: left;
    font-size: 30px;
    margin-bottom: 40px;
}
.social{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.icon{
    padding:10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap:20px;
    cursor: pointer;
    width:300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
img{
    width: 30px;
    text-align: center;
}
.divider{
    color: rgb(171, 164, 164);
    padding:30px;
}
input{
    display: block;
    width:100%;
    margin-top:40px;
    border:none;
    border-bottom: 2px solid rgb(248, 244, 244);
    padding-bottom: 10px;
}
input:focus{
    outline:none
}

button{
    width:100%;
    margin-top: 40px;
    background-color: #7CD2D7;
    color: white;
    padding:10px 20px;
    border-radius: 10px;
    border:none;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: rgb(9, 81, 235) 0px 20px 30px -10px;
}

.error{
    color: red;
}
.success{
    color: green;
}





@media only screen and (max-width: 1000px) {
    .mainarea{
        padding: 40px;
        width: 100%;
        margin-bottom: 20px;
        height: 120vh;
    }
    body{
        background-color: white;
    }
    .image-logo{
        display: none;
    }
    .social{
        row-gap: 20px;
    }
}

@media only screen and (max-width: 1350px) {
    
    .image-logo{
        left: 50px;
        top:250px;
        width: 400px;
    }
}
